body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7; /* Color de fondo más suave */
    line-height: 1.6;
    color: #ffe9e9;
}


.container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px; /* Bordes redondeados para un diseño más moderno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para mejorar la estética */
    border: 1px solid #e0e0e0; /* Borde más claro para un look minimalista */
}

.image {
    flex: 1;
    margin-right: 20px;
}

.image img {
    width: 100%; /* Asegura que la imagen siempre ocupe el ancho disponible */
    height: auto;
    border-radius: 8px; /* Bordes redondeados para imágenes */
}

.content {
    flex: 2;
    padding: 10px 0; /* Añade un pequeño padding vertical */
}

.content h1 {
    font-size: 2.2em;
    margin-bottom: 15px;
    color: #222; /* Tono más oscuro para el encabezado */
}

.content p {
    font-size: 1.1em;
    color: #1f1f1f; /* Texto ligeramente más claro */
}

.chat-icon {
    position: fixed;
    bottom: 30px; /* Espaciado más amplio desde el borde */
    right: 30px;
    background-color: #007bff; /* Color más vibrante */
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: background-color 0.3s ease;
}

.chat-icon:hover {
    background-color: #0056b3; /* Color de hover más oscuro */
}
